.row{
    padding: 15px 0 15px;
    border-bottom: 1px solid #dcdcdc;
}

.row label{
    padding: 0 10px 0;
    text-align: left;    
    display: inline-block;
    min-width: 120px;
}

.row .error {
    color: red;
    font-size: 0.8em;
    padding: 15px 10px 0;
}
